<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <table class="table">
      <caption style="font-size: 40px; font-weight: bold; font-style: italic" >图书管理系统</caption>
      <thead>
        <tr>
          <th>请输入你要查找的作者</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td><input name="name" type="text"></td>
        
        <td><a class="btn btn-default" href="#" role="button">确定</a></td>
        </tr>
      </tbody>
    </table>


    </div>
  </body> 

</html>